try-import %workspace%/user.bazelrc

build --java_language_version=17
build --java_runtime_version=roboriojdk_17

test --test_output=errors

# For Roborio
build:for-roborio --platforms=@bazelrio//platforms/roborio

# Remote Cache
import .bazelrc-buildbuddy

# Run only styleguide checks
build:styleguide --build_tag_filters=java-styleguide