try-import %workspace%/user.bazelrc

common --noenable_bzlmod

build --java_language_version=17
build --java_runtime_version=roboriojdk_17

test --test_output=errors

# For Roborio
build:roborio --incompatible_enable_cc_toolchain_resolution
build:roborio --platforms=@rules_bzlmodrio_toolchains//platforms/roborio
build:roborio --build_tag_filters=-no-roborio

# Remote Cache
import .bazelrc-buildbuddy

# Run only styleguide checks
build:styleguide --build_tag_filters=java-styleguide