{% for child in widget.children_tables %}
export interface {{child.table}}Data {
{%- for variable in child.entries %}
    {{variable.name}}:
    {%-   if variable.type.is_number() %} number
    {%- elif variable.type.is_boolean() %} boolean
    {%- elif variable.type.is_string() %} string
    {%- else %} UHOH
    {%- endif -%}
    ;
{%- endfor %}
}
{% endfor %}
{% if widget.has_nested_tables %}
export interface {{widget.table}}Data {
{%- for child in widget.children_tables %}
    {{child.table.lower_first_char()}} : {{child.table}}Data;
{%- endfor %}
}
{%- endif %}
