

export class Shape {
  defaultFillColor?: string;
  fillColor?: string;
  strokeColor?: string;
  strokeWidth?: number;

  constructor(fillColor?: string) {
    this.defaultFillColor = fillColor;
    this.fillColor = fillColor;
  }
}